[tool.poetry]
name = "twspace-dl"
version = "1.0.0"
description = ""
authors = ["Ryu1845 <ryu@tpgjbo.xyz>"]

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.26.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
